cpuOnly/
Debug/
Release/
packages/
.vs/
*.user
*.nvuser
*.pdb
cpuml/objects/
cpuml/cpu_math*
cudaml/objects/
cudaml/cuda_math*
build_lib_release.bat
build_lib_debug.bat
openblas/
mingw64/
testowy.bin
objects/
*.a
